@tailwind base;
@tailwind components;
@tailwind utilities;


.sec-title{
  position: relative;
  font-size: 48px;
  line-height: 1.2em;
  color: #000;
  font-weight: 700
}
.pageant-title{
  color: #ff9000;
}
.pageant-image{
  object-fit: cover;
  width: 100%;
}
.pageant-image-2{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pageant-details-container{
  background-position: center;
  width: 100%;
  /* height: 100vh; */
  background-size: cover;
  background-image: url('/images/001.svg');
  position: relative;
  /* top: 0;
  left: 0; */
}
.pageant-details-container::before{
  content: '';
  position: absolute;
  width: 100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 1;
}
.pageant-detail-content-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 599px){
  .sec-title {
      font-size: 32px;
    }
}